<div class="container mx-auto max-w-lg py-8">
  <%= render "layouts/flash_messages" %>
  <div class="space-y-6">
    <%= render "story/stories_list" %>
    <% (@posts || []).each do |p| %>
      <div class="bg-white rounded-lg shadow p-4 mb-4">
        <%= render 'posts/post', post: p %>
      </div>
    <% end %>
    <div class="flex justify-center mt-4">
      <%= paginate @posts %>
    </div>
  </div>
  <% if defined?(@suggestions) && @suggestions.present? %>
    <div class="mt-8">
      <%= render "suggestions/suggestions_list", suggestions: @suggestions %>
    </div>
  <% end %>
</div>
